body {
    background-color: lightblue;
  }
  
  h1 {
    color: black;
    text-align: center;
    font-family: Cambria;
    }

  h2 {
  text-align: center;
  font-family: Cambria;
  font-size: 30px;
  }
  h3{
  font-size: 25px;
  }
  pre {
  font-family: Cambria;
  font-size: 22px;
  }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}